/**
 *  scss variables
 *  ---------------------------------------------
 *  Author : IndexXuan(https://github.com/IndexXuan)
 *  Date   : Mon 23 May 2016 11:02:33 PM CST
 */

$light-grey: whiteSmoke;
$grey: #B5AEAE;
$dark-grey: #333;
$orange: #fbca04;
$blue: #84b6eb;

$warning-color: #EF4F4F;
$info-color: #10AEFF;
$success-color: #04BE02;

